html{
  font-family: 'Montserrat', sans-serif;
}
body{
    font-family: sans-serif;
    margin: 0;
}
a{
    text-decoration: none;
    color: antiquewhite;
}
header{
    display: flex;
    min-height: 70px;
    background-color: #6EBB53;
    justify-content:space-between ;
    align-items: center;
    padding: 10px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 50px;
    margin-right: 10px;
}
nav a{
    font-weight:600 ;
    padding-right: 10px;
}
nav a:hover{
    color: rgb(226, 226, 102) ;
}
@media(max-width:700px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
}
.contenedor1 {
    position: relative;
    background-image: url("granja2.jpg");
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
  }
  
  .contenedor1 h1 {
    position: absolute;
    left: 20px;
    color: #B0E6A3;
    padding: 10px;
    margin: 0;
    bottom: 150px;
    font-size: 40px;
  }
  #fondo {
    min-height: 100%;
    background-color: #B1EA8E; /* Cambia el color de fondo según tus preferencias */
    padding: 50px; /* Espaciado interior del div */
  }
.texto1{
    text-align: center;
    margin: 35px 90px;
    padding: 35px 90px;
}
.texto1 h2{
  font-size: 32px;
}
.texto2 h2 {
    text-align: center; /* Alinea el subtítulo al centro */
    font-size: 32px; /* Ajusta el tamaño del subtítulo según tus preferencias */
    padding-top: 40px; /* Espaciado entre el subtítulo y las columnas */
    padding-bottom: 40px;
  }
  
  .columnas {
    display: flex;
    justify-content: space-between; /* Distribuye las columnas de manera uniforme */
  }
  
  .columna {
    flex-basis: 40%; /* Ajusta el ancho de las columnas según tus preferencias */
    padding: 40px;
    text-align: center; /* Alinea el contenido de las columnas al centro */
    font-size: 18px;
  }
  .columna img{
    margin-top: 20px;
    max-width: 100%;
    height: 350px;
    width: auto;
  }
  .imagen1,.imagen2,.imagen3{
    width:500px ;
    height: 270px;
    margin-top: 0px;

    border: 3px solid white;
    border-radius: 20px;
}
  .imagen1:hover,.imagen2:hover,.imagen3:hover{
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 4);
  }
  .linea-separacion {
    border-top: 3px solid #EFEFEF; /* Agregar un borde blanco en la parte superior para crear la línea de separación */
    margin: 20px 0; /* Ajustar el margen para controlar el espacio entre las secciones */
    padding: 0; /* Asegurarse de que no haya relleno en el elemento de separación */
  }
  .texto3 {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .texto3 h2{
    text-align: center; /* Alinea el subtítulo al centro */
    font-size: 32px; /* Ajusta el tamaño del subtítulo según tus preferencias */
    margin-bottom: 50px; /* Espaciado entre el subtítulo y las columnas */
    padding-top: 50px;
  }
  .fila {
    display: flex;
    width: 100%;
    margin-bottom: 20px; /* Espacio entre filas, ajusta según tu preferencia */
  }
  
  .columna1 {
    flex: 1;
    padding: 10px;
    text-align: center;
    margin-right: 10px; /* Espacio entre columnas, ajusta según tu preferencia */
  }
  
  .columna1:last-child {
    margin-right: 0; /* Elimina el margen derecho de la última columna */
  }
footer {
    background-color: #6EBB53;
    padding: 3rem;
    color: antiquewhite;
}

footer section {
    float: right;
}

footer p {
    margin: 0;
}

footer a {
    transition: color 0.3s ease;
    color: antiquewhite;
    text-decoration: none;
}

footer a:hover {
    color: rgb(226, 226, 102);
}
